<%- include("templates/header") %>


<div class="text-center">
    <h1 style="font-family: 'Arial', sans-serif; color: #333; margin-top: 50px; margin-bottom: 30px;">Favourites</h1>
  </div>

<div class="favourites">
  <% for (let i = dish.length-1; i > -1; i--) { %>
    <%- include("templates/logCard", { dish: dishes[i], page: "favourites" }) %>
  <% } %>
</div>


<%- include("templates/footer") %> 