<%- include("templates/header") %>

<% if (darkMode) { %>
  <link rel="stylesheet" type="text/css" href="/css/dark-style.css">
<% } else { %>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
<% } %>


  <section class="page-section" id="about">
    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 text-center">
          <img src="/images/logo.jpg" width="250" height="250" alt="SpiceOfLife logo">
          <h2 class="text-black mt-0">Hungry? Why Wait? Grab a Spice.</h2>
          <hr class="divider divider-light" />
          <p class="text-white-75 mb-4">SpiceOfLife has all the tools you need to get into finding and learning new
            recipes, spicing up your life like never before!</p>
          <a class="btn btn-success btn-xl" href="/search">Get Started with a simple search</a>
          <h4>OR</h4>
          <a class="btn btn-info btn-xl" href="/profile">Sign up/Log in to start saving recipes!</a>
        </div>
      </div>
    </div>
  </section>

  <%- include("templates/footer") %>