<%- include("templates/header") %>
<link rel="stylesheet" href="/css/style.css">


<html>

<body>
  <div class="text-center">
    <h3>Invalid email/password combination</h3>
    <a href="/logout" class="btn btn-primary btn-lg">Try again</a>
  </div>
</body>
<%- include("templates/footer") %>