<%- include("templates/header") %>

  <div class="container">
    <h1>Hello, <%= username %></h1>

    <form action='/logout' method='get'>
      <button>Logout</button>
    </form>
  </div>
  </div>

  <%- include("templates/footer") %>