<%- include("templates/header") %>

<div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
            <a href="/" onclick="history.go(-1); return false;"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
          <div class="card-body">
            <h5 class="card-title">Dish Name</h5>
            <p class="card-text">Ingredients: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="card-text">Author: John Smith</p>
            <p class="card-text">Tools: Utensils, oven, stove</p>
            <p class="card-text">Nutrition Facts: Serving Size: 1 cup, Calories: 200, Total Fat: 10g, Saturated Fat: 2g, Cholesterol: 50mg, Sodium: 500mg, Total Carbohydrates: 20g, Dietary Fiber: 5g, Sugars: 3g, Protein: 10g</p>
          </div>
        </div>
      </div>
    </div>
  </div>


<%- include("templates/footer") %>
