<%- include("templates/header") %>

<style>

  body {
    background-color: #FFF8D6;
  }

  .container {
  margin-top: 30px;
}

.btn {
  font-size: 16px;
}

.dropdown-toggle {
  width: 70%;
  text-align: center;
  border-radius: 30px;
}

.dropdown-menu {
  min-width: 70%;
}

.dropdown-item {
  text-align: center;
}

h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 2px;
  color: #333;
}

#fetchDishButton {
    background-color:#3C6255;
    color: #ffffff;
    border-color: #3C6255;
    border-radius: 30px;
    padding: 15px 35px;
  }

  #fetchDishButton:hover {
    background-color: #40513B;
    border-color: #40513B;
  }

  .btn-secondary {
    background-color: #A6BB8D;
    color: #ffffff;
    border-color: #A6BB8D;
    padding: 8px 18px;
  }

  .btn-secondary:hover {
    background-color: #61876E;
    border-color: #61876E;
  }

@media (max-width: 576px) {
  h1 {
    font-size: 20px;
  }

  .dropdown-toggle {
  width: 40%;
  text-align: center;
  border-radius: 30px;
}

.dropdown-menu {
  min-width: 40%;
}

}

@media (max-width: 767px) {
  .btn {
    font-size: 14px;
  }

  .dropdown-toggle {
  width: 60%;
  text-align: center;
  border-radius: 30px;
}

.dropdown-menu {
  min-width: 60%;
}
}
  .modal-content {
    height: 300px; /* set the height to 80% of the viewport height */
    max-height: none; /* remove the max-height limit */
    overflow-y: auto; /* add vertical scrollbar if needed */
    background-color: #f4b183;
    color: #333333;
  }

  .btn-primary {
    background-color: #a6bb8d;
    color: #ffffff;
    border-color: #a6bb8d;
    padding: 8px 18px;
  }

  .btn-primary:hover {
    background-color: #61876e;
    border-color: #61876e;
  }
  /* Base styles */
  .modal-content {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #333;
    font-size: large;
  }

  .modal-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .card-text {
    margin-bottom: 0.5rem;
  }

  .modal-body p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  .btn-light:hover {
    background-color: #cbb279;
    border-color: #cbb279;
  }

  .btn-light {
    background-color: #e1d4bb;
    border-color: #e1d4bb;
  }


</style>

<div id="dishModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <button id="fetchDishButton" class="btn btn-secondary rounded-pill px-5" data-bs-toggle="modal" data-bs-target="#dishModal" type="button">Random Dish</button>
    </div>
  </div>

  <h1 class="text-left" style="font-family: 'Arial', sans-serif; color: #333; margin-top: 50px; margin-bottom: 30px;">Filters</h1>

  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle px-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Select
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Action two</a></li>
          <li><a class="dropdown-item" href="#">Action three</a></li>
        </ul>
      </div>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle px-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Select
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Action two</a></li>
          <li><a class="dropdown-item" href="#">Action three</a></li>
        </ul>
      </div>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle px-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Select
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Action two</a></li>
          <li><a class="dropdown-item" href="#">Action three</a></li>
        </ul>
      </div>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle px-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Select
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Action two</a></li>
          <li><a class="dropdown-item" href="#">Action three</a></li>
        </ul>
      </div>
    </div>
  </div>

  <br>

  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <button id="searchButton" class="btn btn-secondary rounded-pill px-5" data-bs-toggle="modal" data-bs-target="#dishModal" type="button">Search</button>
    </div>
  </div>
</div>


  

<script>
  // JavaScript
  const fetchDishButton = document.getElementById('fetchDishButton');
  const searchButton = document.getElementById('searchButton');
  const modal = document.getElementById('dishModal');
  fetchDishButton.addEventListener('click', fetchRandomDish);
  searchButton.addEventListener('click', fetchSearchedDish);

  function fetchRandomDish() {
    fetch('/dish') // Assuming the server handles requests to '/dish' endpoint
      .then(response => response.json())
      .then(data => {
        modal.innerHTML = `
        <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-0">
          <h1 class="modal-title fs-5">${data.name}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-0">
          <p>${data.description}</p>
        </div>
        <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
          <a type="button" class="btn btn-lg btn-primary" href="/readMore?dish=${data.name}">Read More</a>
        </div>
      </div>
      </div>
        `;
  })
      .catch(error => {
        console.error('Error:', error);
      });
  }

  function fetchSearchedDish() {
    fetch('/searchDish') // Assuming the server handles requests to '/dish' endpoint
      .then(response => response.json())
      .then(data => {
        modal.innerHTML = `
        <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-0">
          <h1 class="modal-title fs-5">${data.name}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-0">
          <p>${data.description}</p>
        </div>
        <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
          <a type="button" class="btn btn-lg btn-primary" href="/readMore?dish=${data.name}">Read More</a>
        </div>
      </div>
      </div>
        `;
  })
      .catch(error => {
        console.error('Error:', error);
      });
  }
</script>


<%- include("templates/footer") %>

