<%- include("templates/header") %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-xyiJ6UuV7wTnmH+wPMVrFijrZMgFL7sT9G+Ls7NVxFg2sF7VwAJ+deuUJrYcTlTmGxHsX9u+gV03JQ95f8N3+Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.bundle.min.js" integrity="sha512-5x5qXfptJylK5GyIF5ibcBw10uvfi/i/JCvSJY2Z+xE7JRGtZY9M4SZv4ETW/GWy8+THC1DkFjKoZ97bESZD5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<div class="container">
    <div class="row">
      <div class="text-center">
        <button class="btn btn-secondary rounded-pill px-5" type="button">Random Dish</button>
      </div>
    </div>
</div>


<div class="container">
    <h1 style="font-family: 'Arial', sans-serif; color: #333; margin-top: 50px; margin-bottom: 30px;">Filters</h1>
    <div class="dropdown-center" style="margin-top: 10px;">
      <button class="btn btn-secondary dropdown-toggle px-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Select
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Action two</a></li>
        <li><a class="dropdown-item" href="#">Action three</a></li>
      </ul>
    </div>
  <br>
    <div class="dropdown-center">
      <button class="btn btn-secondary dropdown-toggle px-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Select
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Action two</a></li>
        <li><a class="dropdown-item" href="#">Action three</a></li>
      </ul>
    </div>

    <br>
    <div class="dropdown-center">
      <button class="btn btn-secondary dropdown-toggle px-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Select
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Action two</a></li>
        <li><a class="dropdown-item" href="#">Action three</a></li>
      </ul>
    </div>

    <br>
    <div class="dropdown-center">
      <button class="btn btn-secondary dropdown-toggle px-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Select
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Action two</a></li>
        <li><a class="dropdown-item" href="#">Action three</a></li>
      </ul>
    </div>

    <br>
    <div class="dropdown-center">
      <button class="btn btn-secondary dropdown-toggle px-5" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Select
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Action two</a></li>
        <li><a class="dropdown-item" href="#">Action three</a></li>
      </ul>
    </div>
  </div>
<br>
  <div class="container">
    <div class="row">
      <div class="text-center">
        <button class="btn btn-secondary rounded-pill px-5" type="button">Search</button>
      </div>
    </div>
</div>

  

<script>
const dropdownElementList = document.querySelectorAll('.dropdown-toggle')
const dropdownList = [...dropdownElementList].map(dropdownToggleEl => new bootstrap.Dropdown(dropdownToggleEl))
</script>


<%- include("templates/footer") %>

