<%- include("templates/header") %>
<style>
  body {
    background-color: #FFF8D6;
  }

  .container {
    background-color: #FFF8D6;
  }

  p {
    color: #333333;
  }

</style>
<html>

<body>
  <div class="text-center">
    <h3><%= error %> is required.</h3>
    <a href="/signup" class="btn btn-primary btn-lg">Try again</a>
  </div>
</body>
<%- include("templates/footer") %>