<%- include("templates/header") %>
<html>

<body>
  <div class="text-center">
    <h3><%= error %> is required.</h3>
    <a href="/signup" class="btn btn-primary btn-lg">Try again</a>
  </div>
</body>
<%- include("templates/footer") %>