<style>
#modalSheet .modal-content {
    height: 35vh; /* set the height to 80% of the viewport height */
    max-height: none; /* remove the max-height limit */
    overflow-y: auto; /* add vertical scrollbar if needed */
  }
  </style>

<div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1" role="dialog" id="modalSheet">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-0">
          <h1 class="modal-title fs-5"><%= dish.name %></h1>
          <i id="favourite" class="icon bi bi-star"></i>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-0">
          <p><%= dish.description %></p>
        </div>
        <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
          <a type="button" class="btn btn-lg btn-primary" href="/readMore?dish=<%= dish.id %>">Read More</a>
        </div>
      </div>
    </div>
  </div>


  


