<style>
  #modalSheet .modal-content {
    height: 320px; /* set the height to 80% of the viewport height */
    max-height: none; /* remove the max-height limit */
    overflow-y: auto; /* add vertical scrollbar if needed */
    background-color: #f4b183;
    color: #333333;
  }

  .btn-primary {
    background-color: #a6bb8d;
    color: #ffffff;
    border-color: #a6bb8d;
    padding: 8px 18px;
  }

  .btn-primary:hover {
    background-color: #61876e;
    border-color: #61876e;
  }
  /* Base styles */
  .modal-content {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    color: #333;
    font-size: large;
  }

  .modal-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .card-text {
    margin-bottom: 0.5rem;
  }

  .modal-body p {
    margin-bottom: 1rem;
    line-height: 1.5;
  }

  .btn-light:hover {
    background-color: #cbb279;
    border-color: #cbb279;
  }

  .btn-light {
    background-color: #e1d4bb;
    border-color: #e1d4bb;
  }
</style>
<div
  class="modal modal-sheet position-static d-block p-4 py-md-5"
  tabindex="-1"
  role="dialog"
  id="modalSheet"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-header border-bottom-0">
        <h1 class="modal-title fs-5" id="dishTitle"><%= dish.name %></h1>
        <% if(loggedIn) { %>
        <button class="btn btn-light" id="favourite">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <path
              d="M6.28 3c3.236.001 4.973 3.491 5.72
                  5.031.75-1.547 2.469-5.021 5.726-5.021 2.058 0 4.274 1.309
                  4.274 4.182 0 3.442-4.744 7.851-10
                  13-5.258-5.151-10-9.559-10-13 0-2.676 1.965-4.193
                  4.28-4.192zm.001-2c-3.183 0-6.281 2.187-6.281 6.192 0 4.661
                  5.57 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808
                  0-4.011-3.097-6.182-6.274-6.182-2.204 0-4.446 1.042-5.726
                  3.238-1.285-2.206-3.522-3.248-5.719-3.248z"
            />
          </svg>
        </button>
        <% } %>
      </div>
      <div class="modal-body py-0">
        <% if(dish.numFavs == undefined) { %>
        <p class="card-text">Number of favourites: 0</p>
        <% } else { %>
        <p class="card-text">Number of favourites: <%= dish.numFavs %></p>
        <% } %>
        <p><%= dish.description %></p>
      </div>
      <div
        class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0"
      >
        <a
          type="button"
          class="btn btn-lg btn-primary"
          href="/readMore?dish=<%= dish.name %>"
          >Read More</a
        >
      </div>
    </div>
  </div>
</div>

<script>
  // JavaScript
  const favouriteButton = document.getElementById("favourite");
  const dishTitle = document.getElementById("dishTitle");
  favouriteButton.addEventListener("click", callFavourite);

  function callFavourite() {
    $.ajax({
      url: `/favourite?dishName=${dishTitle.innerHTML}`, // Assuming the server handles requests to '/function' endpoint
      method: "POST", // Use 'POST' if the function requires additional data
      success: function (response) {
        // Handle the server response if needed
        console.log(response);
      },
      error: function (error) {
        console.error("Error:", error);
      },
    });
  }
</script>
